$bg-color:#d2262f;
$text-color:white;
$secondary-text-color : black;
$nav-text-color:grey;
$nav-font-size:1rem;
$logo-width:14em;
$logo-height:4rem;
$img-width:27.5rem;
$img-heigth:15rem;

$btn-width : 9rem;
$btn-heigth : 3rem;
$btn-bg-color : #82b74b;

$padding-sm:.6rem;
$padding-md:1.5rem;
$padding-lg:3rem;
$margin-sm:.6rem;
$margin-md:2rem;
$margin-lg:3.5rem;
