$bg-color:#d2262f;
$text-color:white;
$secondary-text-color : #3b3a30;
$nav-text-color:grey;
$nav-font-size:1.2rem;

$logo-width:14rem;
$logo-height:4rem;
$img-width:27.5rem;
$secondary-img-width:35rem;
$img-heigth:15rem;

$btn-width : 9rem;
$btn-heigth : 3rem;
$btn-bg-color : #82b74b;

$padding-sm:.6rem;
$padding-md:1.5rem;
$padding-lg:3rem;
$margin-sm:.6rem;
$margin-md:2rem;
$margin-lg:3.5rem;

$font-family : "Montserrat";
$font-size:1.3rem;

$form-width : 25rem;